<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .kshoongImg {
            position: absolute;
            height: 100px;
            width: 100px;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="gifBody">
    <img class="kshoongImg" id="default" src="/images/기본.gif"/>
</div>


<script>
    // 싱크 맞추기
    function fixSync(){
        const images = document.querySelectorAll('img');

        images.forEach((img, index) => {
            img.src = img.src;
        });
    }

    // 이미지 받아오기
    function getGif(n) {
        axios.get('/rest/getGif', {params:{name:n}}, {
            headers: {
                'Content-Type': 'application/json'
            }
        }).then(response => {
                console.log(response);
                addNewGif(n, response.data);
            })
            .catch(error => console.error(error));
    }

    // 전체 삭제
    function deleteAll(){
        const images = document.querySelectorAll('.kshoongImg');

        images.forEach((img, index) => {
            if(img.id!=='default'){
                img.remove();
            }
        });
    }

    // 이미지 삭제
    function deleteGif(n){
        const image = document.querySelector('#gif'+n);
        image.remove();
    }

    function addNewGif(n, imgSrc) {
        const parent = document.getElementById('gifBody');

        const gif = document.createElement('img');
        gif.className = 'kshoongImg';
        gif.id = 'gif'+n;
        gif.src = imgSrc;

        parent.appendChild(gif);
    }
</script>
</body>
</html>